:root {
  --cell-border: 1px solid black;
}

#game-play {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

#game-play > .map {
  width: clamp(200px, 50vh, 90vw);
  height: clamp(200px, 50vh, 90vw);
  grid-template: repeat(10, minmax(40px, 1fr)) / repeat(10, minmax(40px, 1fr));
}

#active-maps {
  margin: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#active-maps > .maps {
  width: 40%;
}

#command-board {
  display: flex;
  gap: 15px;
}

.map {
  display: grid;
  grid-template: repeat(10, 40px) / repeat(10, 40px);
  text-align: center;
}

.cell {
  border-right: var(--cell-border);
  border-top: var(--cell-border);
}

.cell:nth-child(10n + 1) {
  border-left: var(--cell-border);
}

.cell:nth-last-child(-n + 10) {
  border-bottom: var(--cell-border);
}

.cell:hover:not(.hover-placement, .invalid-hover-placement) {
  background-color: cyan;
}

.hover-placement {
  background-color: green;
}

.invalid-hover-placement {
  background-color: red;
}