:root {
  --cell-border: 1px solid black;
}

.hidden {
  display: none;
}

#game-play {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

#game-play > .map {
  grid-template: repeat(10, minmax(40px, 1fr)) / repeat(10, minmax(40px, 1fr));
}

#active-maps {
  margin: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#active-maps > .maps {
  width: 40%;
}

#command-board {
  border: 1px solid red;
  width: clamp(250px, 10%, 400px);
  display: flex;
  flex-direction: column;
  gap: 15px;
}

#next-ship {
  display: flex;
}

.length-display {
  width: 40px;
  height: 40px;
  background-color: rgb(10, 29, 84);
  border: 1px solid white;
}

#orientation-btn {
  width: 60%;
}

#mid-btns{
  display: flex;
  justify-content: space-between;
}

#reset-btn {
  width: 30%;
  background-color: red;
}

#lower-cb {
  border: 1px solid blue;
  margin-top: 30px;
  text-align: center;
}

#lower-cb > button {
  width: 30%;
  margin: 10px;
}

#lower-cb > button:hover {
  background-color: yellow;
}

.placed-ship {
  background-color: rgb(10, 29, 84);
}

.map {
  display: grid;
  grid-template: repeat(10, 40px) / repeat(10, 40px);
  text-align: center;
}

.cell {
  border-right: var(--cell-border);
  border-top: var(--cell-border);
}

.cell:nth-child(10n + 1) {
  border-left: var(--cell-border);
}

.cell:nth-last-child(-n + 10) {
  border-bottom: var(--cell-border);
}

.cell:hover:not(.hover-placement, .invalid-hover-placement) {
  background-color: cyan;
}

.cell:hover {
  cursor: pointer;
}

.hover-placement {
  background-color: green;
}

.invalid-hover-placement {
  background-color: red;
}